logging:
  ignored-url-patterns:
    - /**/api-docs/**
    - /**/swagger-ui/**
    - /error,
    - /favicon.ico,
    - /actuator/**

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus

  endpoint:
    health:
      show-details: never

  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true

    tags:
      application: konect-backend
