spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${OAUTH_GOOGLE_CLIENT_ID}
            client-secret: ${OAUTH_GOOGLE_CLIENT_SECRET}
            redirect-uri: ${APP_BACKEND_BASE_URL}/login/oauth2/code/google
            scope:
              - email

          naver:
            client-id: ${OAUTH_NAVER_CLIENT_ID}
            client-secret: ${OAUTH_NAVER_CLIENT_SECRET}
            redirect-uri: ${APP_BACKEND_BASE_URL}/login/oauth2/code/naver
            authorization-grant-type: authorization_code
            client-name: NAVER
            scope:
              - email

          kakao:
            client-id: ${OAUTH_KAKAO_CLIENT_ID}
            client-secret: ${OAUTH_KAKAO_CLIENT_SECRET}
            redirect-uri: ${APP_BACKEND_BASE_URL}/login/oauth2/code/kakao
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            client-name: kakao
            scope:
              - account_email

          apple:
            client-id: ${OAUTH_APPLE_CLIENT_ID}
            client-secret: ${OAUTH_APPLE_CLIENT_SECRET}
            redirect-uri: ${APP_BACKEND_BASE_URL}/login/oauth2/code/apple
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            client-name: Apple
            scope:
              - email
              - openid

        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

          apple:
            issuer-uri: https://appleid.apple.com
            authorization-uri: https://appleid.apple.com/auth/authorize?response_mode=form_post
            token-uri: https://appleid.apple.com/auth/token
            jwk-set-uri: https://appleid.apple.com/auth/keys
            user-name-attribute: sub
