<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <springProperty scope="context" name="SLACK_WEBHOOK_ERROR" source="slack.webhooks.error"/>
    <property name="LOG_PATH" value="logs"/>

    <conversionRule conversionWord="clr"
                    converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                [%d{yyyy-MM-dd'T'HH:mm:ss.SSS}] %clr(%-5level) %clr(${PID:-}){magenta} %clr(---){faint} %clr([%15.15thread]){faint} %clr(%-40.40logger{36}){cyan} : %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/konect-backend.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/konect-backend.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.SSS}] %-5level ${PID:-} --- [%15.15thread] %-40.40logger{36} : %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SCHEDULER_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/scheduler.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/scheduler.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.SSS}] %-5level [%thread] : %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SLACK_STARTUP" class="com.github.maricn.logback.SlackAppender">
        <webhookUri>${SLACK_WEBHOOK_ERROR}</webhookUri>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern><![CDATA[
:rotating_light: *서버에서 에러가 발생했습니다!* :rotating_light:%n
`%msg`%n
%rootException{1}%n
]]></pattern>
        </layout>
        <colorCoding>true</colorCoding>
    </appender>

    <appender name="SLACK_RUNTIME" class="com.github.maricn.logback.SlackAppender">
        <webhookUri>${SLACK_WEBHOOK_ERROR}</webhookUri>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern><![CDATA[
:rotating_light: *서버에서 에러가 발생했습니다!* :rotating_light:%n
%msg
]]></pattern>
        </layout>
        <colorCoding>true</colorCoding>
    </appender>

    <appender name="ASYNC_SLACK_STARTUP" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SLACK_STARTUP"/>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="ASYNC_SLACK_RUNTIME" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SLACK_RUNTIME"/>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <logger name="runtime.error" level="ERROR" additivity="false">
        <appender-ref ref="ASYNC_SLACK_RUNTIME"/>
    </logger>

    <logger name="scheduler.studytime" level="INFO" additivity="false">
        <appender-ref ref="SCHEDULER_FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="ASYNC_SLACK_STARTUP"/>
    </root>
</configuration>
